//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
            .product-info-main{
                .product-info-stock-sku{
                    display: flex;
                    padding: 0;
                }
                .product.attribute.sku{
                        font-family: Verdana, Geneva, sans-serif;
                }
                .stock.available{
                    order: 2;
                    margin-left: 40px;
                    font-weight: 400;
                    text-transform: initial;
                    font-family: Verdana, Geneva, sans-serif;
                }
                .stock.available::before{
                    content: url("../images/checked.png");
                }
                .page-title{
                    span{
                        font-size: 24px;
                        font-family: Verdana, Geneva, sans-serif;
                        font-weight: 700;
                    }
                }
                .share-networks{
                    display: flex;
                    a{
                        margin-right: 6px;
                    }
                }
            }
        .block.upsell{
            display: inline-block;
        }
        .block-title.title{
            text-align: center;
            strong{
                font-family: Verdana, Geneva, sans-serif;
                font-size: 24px;

            }
        }
        .product.name{
            a{
                font-weight: 400;
            }
        }

        .product.data.items{
            .data.item.title{
                a{
                    border: none;
                    background: transparent;
                }
            }
            .data.item.title{
                &.active{
                    a{
                        display: flex;
                        justify-content: center;
                        /*padding-bottom: 15px;*/
                        font-weight: 700;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -10px; /* Change direction for a different side*/
                            z-index: 500;
                            width: 3px; /* Thickness */
                            height: 40px;
                            background: #88b337; /* Color */
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }
            .fieldset{
                display: flex;
                align-items: center;
                .field.qty{
                    display: flex;
                    align-items: center;
                    margin: 0;
                    .label{
                        margin: 0;
                    }
                    .control{
                        margin: 0 10px 0 10px;
                        input{
                            border-style: none;
                            }
                    }
                }
            }
            .box-tocart{
                .action.tocart{
                    width: 100%;
                    margin-bottom: 0 !important;
                    border-radius: 45px;
                    border: none;
                    background: #88b337;
                }
                margin-bottom: 50px;
            }
        }
    }

.breadcrumbs{
        text-align: center;
        .items{
            font-style: normal;
            letter-spacing: 0.9px;
            line-height: normal;
        }
        .item{
            a{
                color: #cdcdcd;
            }
        }
        .item::after{
                color: #CDCDCD;
        }
        strong{
            color: #000000;
        }
}

.nav-sections-item-content{
    ul{
        font-family: Verdana, Geneva, sans-serif;
        text-transform: uppercase;
        li{
            span{
                color: #000000;
                font-weight: 400;
            }
        }
    }
}
.navigation{
    background: #FFFFFF;
    z-index: 10;
    .level0.has-active{
        .level-top{
                border-color: #88b337;
        }
    }
    .level0.active{
        .level-top{
            border-color: #88b337;
        }
    }
    .level0{
        .submenu{
            .active{
                a{
                    border-color: #88b337;
                }
            }
        }
    }
}
.footer.content{
    ul{
        color: #000000;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        text-align: left;
    }
}

.product-addto-links{
    a{
        position: relative;
        z-index: 100;
    }
}
.product-reviews-summary{
    .reviews-actions{
        position: relative;
        z-index: 100;
    }
}
.product.data.items{
    .item.content{
        border: none;
    }
}
.box-tocart{
    margin: 0;
}
.product.info.detailed{
    position: relative;
    bottom: 35px;
    right: 35px;
}
.products{
    .product-items{
        .product-item{
            a{
                font-family: Verdana, Geneva, sans-serif;
                font-size: 18px;
                font-weight: 700;
            }
            .price-box{
                .price{
                    font-size: 14px;
                }
            }
        }
        .product-item-details{
            .product-description{
                line-height: 24px;
            }
        }
    }
}
.gallery-placeholder{
    position: relative;
    left: 180px;
    width: 500px;
}
.page-footer{
    background: #FFFFFF;
}

.minicart-wrapper{
    .action.showcart{
        .counter.qty{
            background: #88b337;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18px;
            height: 19px;
            position: absolute;
            top: -5px;
            right: -5px;
            margin: 0;
            border-radius: 50%;
            padding: 0;
            .counter-number{
                font-size: 10px;
            }
        }
    }
}
.footer.content{
    display: flex;
    justify-content: space-between;
    p{
        order: 1;
    }
    .block{
        order: 3;
    }
    .links{
        order: 2;
    }
}


.block.newsletter{
    h6{
        font-size: 12px;
        margin: 0;
    }
    .action.subscribe{
        span{
            color: #333333;
            font-family: Verdana;
            font-size: 10px;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
        }
    }
    .field{
        input{
            padding-left: 0;
            text-align: left;
            color: #999999;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            border: none;
        }
        input:focus{
            box-shadow: none;
        }
    }
    .actions{
        .action.subscribe.primary{
            background: transparent;
        }
        .action.subscribe.primary:hover{
            background: transparent !important;
        }
    }
}
.page-header{
    .panel.wrapper{
        visibility: hidden;
        height: 0px;
    }
}

.page-layout-2columns-left{
    .sidebar-additional{
        visibility: hidden;
    }
}
.products{
    li{
        .product-reviews-summary{
            visibility: hidden;
            margin-bottom: 0;
            height: 0;
        }
    }
}
.product-item{
    color: #000000;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    .price-box{
        margin-top: 0;
        .price{
            font-weight: 400;
            font-size: 18px !important;
            line-height: 30px !important;
        }
    }
}
.filter-options{
    .items{
        li{
            :hover{
                background: #88b337;
            }
        }
    }
}
.product.name{
    a{
        color: #000000;
        font-family: Verdana;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
    }
}



.filter-options{
    color: #333333;
    font-family: Verdana;
    font-weight: 700;
    text-transform: initial;
}
.filter-options-content{
    ol{
        a{
            color: #999999;
            font-family: Verdana, Geneva, sans-serif;
            line-height: 30px;
            text-align: left;
            font-weight: 400;
        }
    }
}
.filter-options-title{
    color: #333333;
    font-family: Verdana, Geneva, sans-serif;
}



.banner {
    padding: 80px;
    position: relative;

    &__title {
        color: #88b337;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        line-height: 60px;
        }
    &__subtitle {
        opacity: 0.7;
        color: #333333;
        font-family: Verdana, Geneva, sans-serif;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        width: max-content;
        text-transform: initial;
    }
    &__order {
        color: #333333;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 400;
        margin-top: 80px;
    }
    &__item{
        display: flex !important;
        justify-content: space-around;
    }
    .share-networks{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .slick-next.slick-arrow::before {
        content: url("../images/down-arrow.png");
    }
    .slick-prev.slick-arrow::before{
        content: url("../images/down-arrow2.png");
    }
    .slick-next{
        box-shadow: none;
        border-style: none;
    }
    .slick-next:hover{
        border-style: none;
        box-shadow: none;
    }
    .slick-prev{
        box-shadow: none;
        border-style: none;
    }
    .slick-prev:hover{
        border-style: none;
        box-shadow: none;
    }


}

.order__link{
    a{
        display: block;
        text-align: center;
        width: 75px;
        border-radius: 50px;
        background: #88b337;
        border-color: #88b337;
        color: #ffffff;
    }
}



.logo{
    width: 112px;
    height: 51px;
}


.header.content{
    display: flex;
    align-items: center;
    width: 100%;
}
.sections{
    margin-bottom: 0px;
}
.header_link_login{
    margin-left: 15px;
}
.minicart-wrapper a.action.showcart::before {
        content: url("../images/minicart.png");
}
.minicart-wrapper a.action.showcart.active {
    content: url("../images/minicart.png");
}

.footer-contact{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    &__title{
        font-weight: 700;
    }
    &__number{
        a{
            color: #000000;
            &:hover{
                color: #88b337;
                text-decoration: none;
            }
        }
    }
    &__email{
        a{
            color: #000000;
            &:hover{
                color: #88b337;
                text-decoration: none;
            }
        }
    }
    .share-networks{
        display: flex;
        opacity: 0.5 !important;
        a{
            margin-right: 6px;
        }
    }
}

.footer-info{
    font-size: 12px;
    &__title{
        font-weight: 700;
    }
    &__list{
        a{
            color: #000000;

            &:hover{
                color: #88b337;
                text-decoration: none;
            }
        }

    }
}

.leafs {
    margin-left: auto;
    margin-right: auto;
}

.slick-dots{
    li{
        display: inline-block;
        background: #88b337;
        opacity: 0.5;
        height: 4px !important;
        width: 27px !important;

        margin: 0 !important;
        button{
            visibility: hidden;
        }
    }
    .slick-active{
        background: #88b337;
        opacity: 1;
        height: 4px !important;
        width: 27px !important;
    }

    text-align: start !important;
}

.content{
    .control{
        border-bottom: 1px solid;
        border-color: #88b337;
        &:before{
            visibility: hidden;
        }
    }
}





/*.content{
    .control{
        content: url("../images/search.png");
    }
}*/

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-search{
    &.active{
        width: 45%;
        margin-bottom: 20px;
        input:focus{
            box-shadow: none;
        }
    }
    input{
        border-bottom: groove;
        border-top: none;
        border-right: none;
        border-left: none   ;
        font-size: 25px;
    }
}


.column.main{
    .leafs{
        text-align: center;
    }
}

.action.primary{
    background: #88b337;
    border-radius: 45px;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.action.primary:hover{
    background: #88b337 !important;
    border-style: none !important;
}

